* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #283340;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.daftar-box {
    background: #000000;
    padding: 30px 120px;
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    border-radius: 10px;
    color: #ffffff;
}

.logo {
    width: -30px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 50px;
    max-height: 50px;
}

.daftar-box h2 {
    margin-bottom: 20px;
}

.daftar-box button img {
    width: 20px;
    margin-right: 10px;
}

.daftar-box button {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 30px;
    background: white;
    border: 1px solid #ffffff;
    font-weight: bold;
    cursor: pointer;
    color: #000000;
    transition: border-color 0.3s ease; /* Efek transisi pada border color */
}

.daftar-box button:hover {
    border-color: rgb(10, 147, 245); /* Warna biru saat hover */
}

.daftar-box hr {
    border: 0;
    height: 1px;
    background: #ffffff;
    margin: 5px;
}

.daftar-box span {
    display: block;
    width: 40px;
    margin: auto;
    background: #000000;
    font-size: 14px;
    margin-top: -16px;
}

.daftar-box input[type="text"] {
    width: 100%;
    background: #000000; /* Background warna hitam */
    color: #ffffff; /* Teks putih */
    outline: 0;
    padding: 15px 10px;
    border: 1px solid #ffffff; /* Border putih */
    border-radius: 4px;
    margin: 10px 0;
    transition: border-color 0.3s ease; /* Efek transisi pada border color */
}

.daftar-box input[type="text"]:focus {
    border-color: rgb(10, 147, 245); /* Warna biru saat focus */
}

::placeholder {
    font-weight: 500;
    color: #ffffff; /* Warna teks placeholder putih */
}

.daftar-box form button {
    background: #ffffff;
    color: #000000;
    border: 0;
    margin-bottom: 15px;
}

.daftar-box p {
    text-align: left;
    font-size: 14px;
    color: #ffffff;
    margin: 40px 0 50px;
}

.daftar-box p a {
    text-decoration: none;
    color: rgb(10, 147, 245);
}

